
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #23272A; /* Fond sombre */
    color: #F7F3F7; /* Texte clair */
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
    color: #CCAA1D;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #F7F3F7;
}


.container {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}


.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-recipe, .send-recipe, .order-kitchen {
    background-color: #2C2F33; 
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.show-recipe {
    background-color: #2C2F33;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


#recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 15px;
}

#recipe-list li {
    background-color: #23272A; 
    color: #F7F3F7;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}


input, select, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

input, select {
    width: 96%;
    background-color: #23272A;
    color: #F7F3F7;
    border: 1px solid #5B348B;
}

button {
    background-color: #5B348B;
    color: #F7F3F7;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #CCAA1D;
}

/* Orders list */
#order-list li {
    background-color: #5B348B;
    color: #F7F3F7;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
